.mainContainer{
    display: flex;
    flex-direction: column;
    justify-content: center; /* Space out the logo and the nav items */
    align-items: center;
    gap: 1rem;
  }
  
  .navbar {
    width: 100%;
    background-color:   purple;; /* Replace with your desired navbar background color */
  
    box-shadow: 0 2px 4px rgba(0,0,0,0.1); /* Optional: adds a subtle shadow for depth */
    padding:  20px; /* Padding on the sides */
    display: flex;
    justify-content: space-between; /* Space out the logo and the nav items */
    align-items: center; /* Align the items vertically */
  }
  
  .navLogo {
    font-size: 24px; /* Example size, adjust as needed */
    color: #6200ee; /* Example color, adjust as needed */
    font-weight: bold; /* Optional: makes the logo text bold */
  }
  
  .navItems {
    list-style: none; /* Remove default list styling */
    display: flex;
    gap: 20px; /* Space between each nav item */
    margin: 0; /* Reset default margins */
    padding: 0; /* Reset default padding */
    color: white;
  }
  
  
  
  .navItem {
    color: white; /* Change nav item text color to white */
    text-decoration: none; /* Remove underline from links */
    font-weight: 500; /* Adjust font weight as needed */
  }
  
  .navItem:hover {
    color: #6200ee; /* Nav item hover color, adjust as needed */
  }
  